{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopwise - eCommerce</title>

  <!-- Meta Description Start -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="description" content="">
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Meta Description End -->

  <!-- ScreenSort Off Meta Section Start -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="google" content="nopagereadaloud">  
  <!-- ScreenSort Off Meta Section End -->

  <!-- Meta Port Start -->
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">
  <!-- Meta Port End -->
  
  <!-- Favicons Start -->
  <link rel="icon" href="https://bestwebcreator.com/shopwise/demo/assets/images/favicon.png" sizes="any">
  <link rel="icon" href="https://bestwebcreator.com/shopwise/demo/assets/images/favicon.png" type="image/svg+xml">
  <link rel="apple-touch-icon" href="https://bestwebcreator.com/shopwise/demo/assets/images/favicon.png">
  <!-- Favicons End -->
  
  <!-- Add to homescreen for Chrome on Android -->
  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">
  <!-- Add to homescreen for Safari on iOS -->

  <!-- Google Fonts Link Start -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- Google Fonts Link End -->

  <!-- jQuery CSS Link Start -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- jQuery CSS Link End -->

  <!-- Linearicons icon css link Start -->
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <!-- Linearicons icon  css link End -->

  <!-- Font Awesome Link Start -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Font Awesome Link End -->

  <!-- Boortstrap CSS Start -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- Boortstrap CSS End -->

  <!-- CSS link Start -->
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/details.css" %}">
  <link rel="stylesheet" href="{% static "css/login.css" %}">
  <link rel="stylesheet" href="{% static "css/hover.css" %}">
  <link rel="stylesheet" href="{% static "css/root.css" %}">
  <!-- CSS link End -->
  
  <!-- Internal CSS Start -->
  <style>
    .owl-carousel.owl-theme.owl-carousel-1.owl-rtl.owl-loaded.owl-drag .owl-nav.disabled{
      display: flex !important;
    }
  </style>
  <!-- Internal CSS End -->

  <!-- Responsive CSS link Start -->
  <link rel="stylesheet" href="{% static "responsive/index-responsive.css" %}">
  <!-- Responsive CSS link End -->
</head>

<body onload="preloader()" onoffline="offline()" ononline="online()">

  <!-- Preloader Section Start -->
   <section>
      <div id="preloader">
          <div id="loader"></div>
      </div>
   </section>
  <!-- Preloader Section End -->
  <!-- Offline Msg -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast-offline" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="border-radius: 0px;border: none;">
      <div class="toast-header">
        <img style="height: 25px;" src="https://bestwebcreator.com/shopwise/demo/assets/images/logo_dark.png" class="rounded me-2" alt="ERROR">
        <strong class="me-auto"></strong>
        <small>1 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        You are currently offline
        <br>
      </div>
      <button style="width: 50%;" class="m-2" id="btn">Refresh</button>
    </div>
  </div>
  <!-- Offline Msg -->
  <!-- Online Msg -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast-online" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="border-radius: 0px;border: none;">
      <div class="toast-header">
        <img style="height: 25px;" src="https://bestwebcreator.com/shopwise/demo/assets/images/logo_dark.png" class="rounded me-2" alt="ERROR">
        <strong class="me-auto"></strong>
        <small>1 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        You are currently Online
        <br>
      </div>
      <button style="width: 50%;" type="button" class="m-2" data-bs-dismiss="toast" aria-label="Close" id="btn">Close</button>
    </div>
  </div>
  <!-- Online Msg -->
  <!-- Nav Bar Start -->
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid fluid-Width none-992">
          <div class="menu-logo">
            <img src="https://bestwebcreator.com/shopwise/demo/assets/images/logo_dark.png" alt="ERROR">
          </div>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item Home"><a class="nav-link" href="{% url "product_list" %}" style="color: #ff324d;">HOME<i class="fa-light fa-chevron-down"></i></a>
                <ul class="Home-Sub">
                  <li><a href="{% url "pagenotfound" %}">Fashion 1</a></li>
                  <li><a href="{% url "pagenotfound" %}">Fashion 2</a></li>
                  <li><a href="{% url "pagenotfound" %}">Furniture 1</a></li>
                  <li><a href="{% url "pagenotfound" %}">Furniture 2</a></li>
                  <li><a href="{% url "pagenotfound" %}">Electronics 1</a></li>
                  <li><a href="{% url "pagenotfound" %}">Electronics 2</a></li>
                </ul>
              </li>
              <li class="nav-item Home"><a class="nav-link" href="#">PAGES<i class="fa-light fa-chevron-down"></i></a>
                <ul class="Home-Sub">
                  <li><a href="{% url "pagenotfound" %}">About Us</a></li>
                  <li><a href="{% url "pagenotfound" %}">Contact Us</a></li>
                  <li><a href="{% url "pagenotfound" %}">Faq</a></li>
                  <li><a href="{% url "pagenotfound" %}">404 Error Page</a></li>
                  <li><a href="{% url "login" %}">Login</a></li>
                  <li><a href="{% url "register" %}">Register</a></li>
                  <li><a href="{% url "pagenotfound" %}">Terms & Conditions</a></li>
                </ul>
              </li>
              <li class="nav-item PRODUCT"><a class="nav-link" href="#">PRODUCT<i class="fa-light fa-chevron-down"></i></a>
                <div class="PRODUCT-Sub">
                  <div class="container">
                    <div class="row">
                      <div class="col-3">
                        <p>WOMAN'S</p>
                        <nav>
                          <ul>
                            <li><a href="{% url "pagenotfound" %}">Vestibulum sed</a></li>
                            <li><a href="{% url "pagenotfound" %}">Donec porttitor</a></li>
                            <li><a href="{% url "pagenotfound" %}">Donec vitae facilisis</a></li>
                            <li><a href="{% url "pagenotfound" %}">Curabitur tempus</a></li>
                            <li><a href="{% url "pagenotfound" %}">Vivamus in tortor</a></li>
                          </ul>
                        </nav>
                      </div>
                      <div class="col-3">
                        <p>WOMAN'S</p>
                        <nav>
                          <ul>
                            <li><a href="{% url "pagenotfound" %}">Vestibulum sed</a></li>
                            <li><a href="{% url "pagenotfound" %}">Donec porttitor</a></li>
                            <li><a href="{% url "pagenotfound" %}">Donec vitae facilisis</a></li>
                            <li><a href="{% url "pagenotfound" %}">Curabitur tempus</a></li>
                            <li><a href="{% url "pagenotfound" %}">Vivamus in tortor</a></li>
                          </ul>
                        </nav>
                      </div>
                      <div class="col-3">
                        <p>WOMAN'S</p>
                        <nav>
                          <ul>
                            <li><a href="{% url "pagenotfound" %}">Vestibulum sed</a></li>
                            <li><a href="{% url "pagenotfound" %}">Donec porttitor</a></li>
                            <li><a href="{% url "pagenotfound" %}">Donec vitae facilisis</a></li>
                            <li><a href="{% url "pagenotfound" %}">Curabitur tempus</a></li>
                            <li><a href="{% url "pagenotfound" %}">Vivamus in tortor</a></li>
                          </ul>
                        </nav>
                      </div>
                      <div class="col-3">
                        <p>WOMAN'S</p>
                        <nav>
                          <ul>
                            <li><a href="{% url "pagenotfound" %}">Vestibulum sed</a></li>
                            <li><a href="{% url "pagenotfound" %}">Donec porttitor</a></li>
                            <li><a href="{% url "pagenotfound" %}">Donec vitae facilisis</a></li>
                            <li><a href="{% url "pagenotfound" %}">Curabitur tempus</a></li>
                            <li><a href="{% url "pagenotfound" %}">Vivamus in tortor</a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                    <div class="row Wooden">
                      <div class="col-4">
                        <div class="Wooden-Chair bg-img-1">
                          <div class="chair">
                            <span>10% Off</span>
                            <p>Wooden Chair</p>
                            <a href="{% url "pagenotfound" %}">Shop now</a>
                          </div>
                        </div>
                      </div> 
                      <div class="col-4">
                        <div class="Wooden-Chair bg-img-2">
                          <div class="chair">
                            <span>15% Off</span>
                            <p>Wooden Chair</p>
                            <a href="{% url "pagenotfound" %}">Shop now</a>
                          </div>
                        </div>
                      </div> 
                      <div class="col-4">
                        <div class="Wooden-Chair bg-img-3">
                          <div class="chair">
                            <span>23% Off</span>
                            <p>Wooden Chair</p>
                            <a href="{% url "pagenotfound" %}">Shop now</a>
                          </div>
                        </div>
                      </div> 
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item BLOG"><a class="nav-link" href="#">BLOG<i class="fa-light fa-chevron-down"></i></a>
                <ul class="right-icon">
                  <li class="Grids"><a href="#">Grids</a>
                    <ul class="Grids-Sub">
                      <li><a href="{% url "pagenotfound" %}">3 Columns</a></li>
                      <li><a href="{% url "pagenotfound" %}">4 Columns</a></li>
                      <li><a href="{% url "pagenotfound" %}">Left Sidebar</a></li>
                      <li><a href="{% url "pagenotfound" %}">Right Sidebar</a></li>
                      <li><a href="{% url "pagenotfound" %}">Standard Left Sidebar</a></li>
                      <li><a href="{% url "pagenotfound" %}">Standard Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="Masonry"><a href="#">Masonry</a>
                    <ul class="Masonry-Sub">
                      <li><a href="{% url "pagenotfound" %}">3 Columns</a></li>
                      <li><a href="{% url "pagenotfound" %}">4 Columns</a></li>
                      <li><a href="{% url "pagenotfound" %}">Left Sidebar</a></li>
                      <li><a href="{% url "pagenotfound" %}">Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="Singie-PostSingie-Post"><a href="#">Singie Post</a>
                    <ul class="Singie-Post-Sab">
                      <li><a href="{% url "pagenotfound" %}">Default</a></li>
                      <li><a href="{% url "pagenotfound" %}">Left Sidebar</a></li>
                      <li><a href="{% url "pagenotfound" %}">Slider Post</a></li>
                      <li><a href="{% url "pagenotfound" %}">Video Post</a></li>
                      <li><a href="{% url "pagenotfound" %}">Audio Post</a></li>
                    </ul>
                  </li>
                  <li class="List"><a href="#">List</a>
                    <ul class="List-Sub">
                      <li><a href="{% url "pagenotfound" %}">Left Sidebar</a></li>
                      <li><a href="{% url "pagenotfound" %}">Right Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item Shop"><a class="nav-link" href="#">SHOP<i class="fa-light fa-chevron-down"></i></a>
                <div class="container Shop-Sub">
                  <div class="row">
                    <div class="col-3">
                      <p>Shop Page Layout</p>
                      <ul>
                        <li><a href="{% url "pagenotfound" %}">Shop List View</a></li>
                        <li><a href="{% url "pagenotfound" %}">Shop List Left Sidebar</a></li>
                        <li><a href="{% url "pagenotfound" %}">Shop List Right Sidebar</a></li>
                        <li><a href="{% url "pagenotfound" %}">Left Sidebar</a></li>
                        <li><a href="{% url "pagenotfound" %}">Right Sidebar</a></li>
                        <li><a href="#">Shop Load More</a></li>
                      </ul>
                    </div>
                    <div class="col-3">
                      <p>Other Pages</p>
                      <ul>
                        <li><a href="{% url "cart_detail" %}">Cart</a></li>
                        <li><a href="{% url "checkout" %}">Checkout</a></li>
                        <li><a href="{% url "orderdetail" %}">Order Details</a></li>
                        <li><a href="{% url "profile" %}">My Account</a></li>
                        <li><a href="{% url "pagenotfound" %}">Wishlist</a></li>
                        <li><a href="{% url "pagenotfound" %}">compare</a></li>
                      </ul>
                    </div>
                    <div class="col-3">
                      <p>Product Pages</p>
                      <ul>
                        <li><a href="{% url "pagenotfound" %}">Default</a></li>
                        <li><a href="{% url "pagenotfound" %}">Left Sidebar</a></li>
                        <li><a href="{% url "pagenotfound" %}">Right Sidebar</a></li>
                        <li><a href="{% url "pagenotfound" %}">Thumbnails Left</a></li>
                      </ul>
                    </div>
                    <div class="col-3">
                      <div class="Collection">
                        <p>NEW COLLECTION</p>
                        <h5>SALE 30% OFF</h5>
                        <a href="#">Shop Now</a>
                      </div>          
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url "pagenotfound" %}">CONTACT US</a></li>
            </ul>
          </div>
          <div class="menu-icon">
            <ul style="padding-left: 0rem !important;">
              <li class="position-relative msg-pos"><i class="fa-thin fa-cart-shopping"></i>
              <span class="badges position-absolute start-100 translate-middle badge rounded-pill bg-danger">{{ cart_items }}</span>
                <div class="msg overflow-auto">
                  {% for item in menu_items %}
                    <div class="toast show m-1" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="toast-header" style="align-items: flex-start;border-radius: 0px;background-clip: initial;">
                        {% if item.variant.image %}
                          <img src="{{ item.variant.image.url }}" alt="Error">
                        {% else %}
                          {% with item.variant.product.product_images.first as img %}
                            {% if img %}
                              <img src="{{ img.image.url }}" alt="Error">
                            {% else %}
                              <img alt="No image">
                            {% endif %}
                          {% endwith %}
                        {% endif %}
                        <a href="{% url "product_detail" pk=item.variant.product.id %}" class="me-auto msg-user">{{item.variant.product.product_name}}<p>{{ item.variant.product.price }}</p></a>
                        <small>{{item.time_ago}}</small><br>
                        <form id="remove-form-{{ item.id }}" method="post" action="{% url 'remove_cart_item' item.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="0">
                        </form>
                        <button type="button" onclick="document.getElementById('remove-form-{{ item.id }}').submit()" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                      </div>
                    </div>
                  {% endfor %}
                  <div class="Subtotal">
                    <h4>Total :</h4>
                    <h4>{{ menu_total_price }}</h4>
                  </div>
                  <div class="buttons">
                    <a href="{% url "cart_detail" %}">View Cart</a>
                    <a href="{% url "checkout" %}">Checkout</a>
                  </div>
                </div>
              </li>
              <li class="position-relative search-pos">
                <div class="search-wrapper active">
                  <div class="input-holder">
                    <input type="text" id="searchInput{{ item.id }}" class="search-input" placeholder="Type to search">
                    <button type="button" class="search-icon" onclick="searchToggle(this, event); submitSearch('{{ item.id }}');"><span></span></button>
                  </div>
                  <span class="close" onclick="searchToggle(this, event);"></span>
                </div>
                <span class="close" onclick="searchToggle(this, event);"></span>
                <form id="search{{ item.id }}" method="get" action="{% url 'product_list' %}">
                    <input type="hidden" name="search" id="hiddenSearch{{ item.id }}">
                </form>
                <script>
                  function submitSearch(id) {
                    const value = document.getElementById("searchInput" + id).value;
                    document.getElementById("hiddenSearch" + id).value = value;
                    document.getElementById("search" + id).submit();
                  }
                </script>
              </li>
              <li title="Profile">
                <i onclick="window.location.href='{% url "profile" %}'" class="fa-brands fa-grav" style="font-size: 31px; color: #000; margin-top: 2px; margin-left: 20px;"></i>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  <!-- Nav Bar End -->
  <!-- Hero Section Start -->
    <section style="margin-top: 63px;">
      <div class="container-fluid" style="--bs-gutter-x: 0rem;">
        <div class="row" style="--bs-gutter-x: 0rem;">
          <div class="col-12">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="carousel-dowen-btn active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" class="carousel-dowen-btn"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3" class="carousel-dowen-btn"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active position-relative" data-bs-interval="10000">
                  <img src="https://bestwebcreator.com/shopwise/demo/assets/images/banner8.jpg" class="d-block w-100" alt="ERROR">
                  <div class="carousel-caption carousel-txt">
                    <h5>Get up to 50% off Today Only!</h5>
                    <h1>Sofa Collection</h1>
                      <div class="carousel-p">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum ipsum dolor amet consectetur adipisicing.</p>
                      </div>
                    <div class="carousel-btn"> 
                      <a href="detail/80/">SHOP NOW</a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="https://bestwebcreator.com/shopwise/demo/assets/images/banner7.jpg" class="d-block w-100" alt="ERROR">
                  <div class="carousel-caption carousel-txt">
                    <h5>Get up to 50% off Today Only!</h5>
                    <h1>Wooden Chair<br>Collection</h1>
                    <div class="carousel-btn">
                      <a href="#">SHOP NOW</a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="https://bestwebcreator.com/shopwise/demo/assets/images/banner9.jpg" class="d-block w-100" alt="ERROR">
                  <div class="carousel-caption carousel-txt">
                    <h5>Get up to 50% off Today Only!</h5>
                    <h1>Living Room<br>Collection</h1>
                    <div class="carousel-btn">
                      <a href="#">SHOP NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- Hero Section End -->
  <!-- list Section Start -->
    <section>
      <div class="container" style="margin-top: 80px;">
        <div class="row Zx-1">
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="list-group">
              <span class="lnr lnr-car"></span>
              <div class="list-txt">
                <h6>Free Delivery</h6>
                <p>Worldwide</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="list-group">
              <span class="lnr lnr-earth"></span>
              <div class="list-txt">
                <h6>Money Returns</h6>
                <p>30 Days money return</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="list-group">
              <span class="lnr lnr-sync"></span>
              <div class="list-txt">
                <h6>27/4 Online Support</h6>
                <p>Customer Support</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="list-group" style=" border-right: 1px solid var(--a-hover-color);">
              <span class="lnr lnr-lock"></span>
              <div class="list-txt">
                <h6>Payment Security</h6>
                <p>Safe Payment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- list Section End -->
  <!-- Product Section Start -->
  {% if products %}
   <section id="Pages">
      <div class="container">
        <div class="row">
          <h3 class="text-center product-title">All Products</h3>
        </div>
        <div class="row">
          {% for product in products %}
            <div class="col-12 col-md-7 col-lg-4 col-xl-3">
              <div class="card" style="width: 18rem;height: 445px;">
                <div class="product-btn-txt-all">
                  <div class="card-img">
                    {% for img in product.product_images.all %}
                      <img src="{{product.product_images.first.image.url}}" alt="Image Showing Error">
                    {% endfor %}
                  </div>
                  <div class="img-btn">
                    <a href="#"><i class="lnr lnr-cart"></i></a>
                    <a href="#"><i class="lnr lnr-heart"></i></a>
                    <a href="#"><i class="lnr lnr-bookmark"></i></a>
                  </div>
                </div>
                <div class="card-body text-center">
                  <a href="{% url "product_detail" pk=product.id %}">{{product.product_name}}</a><br>
                  <div class="price">
                    <span>${{ product.price }}</span>
                    <span>${{ product.price|add:"35" }}</span>
                  </div>
                  <div class="rating">
                    {% if product.reviews.exists %}
                      {% for i in "12345"|make_list %}
                          {% if forloop.counter <= product.reviews.first.rating %}
                              <i class="fa-solid fa-star"></i>
                          {% else %}
                              <i class="lnr lnr-star"></i>
                          {% endif %}
                      {% endfor %}
                    {% else %}
                        <i class="lnr lnr-star"></i>
                        <i class="lnr lnr-star"></i>
                        <i class="lnr lnr-star"></i>
                        <i class="lnr lnr-star"></i>
                        <i class="lnr lnr-star"></i>
                    {% endif %}
                    <p>({{ product.reviews.count }})</p>
                  </div>
                  <div class="card-btn">
                    <form id="cartForm{{ product.id }}" method="post" action="{% url 'add_to_cart' %}">
                      {% csrf_token %}
                      {% for product_variants in product.product_variants.all %}
                        <input type="hidden" name="variant_id" value="{{ product.product_variants.first.id }}">
                        <input type="number" style="display: none;" name="quantity" value="1" min="1" max="{{ product_variants.stock }}" {% if product_variants.stock == 0 %}disabled{% endif %}>
                      {% endfor %}
                    </form>
                    <a onclick="document.getElementById('cartForm{{ product.id }}').submit(); return false;" {% if variant.stock == 0 %}disabled{% endif %}><i class="lnr lnr-cart"></i>Add To Cart</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
  <!-- Product Section End -->
  <!-- New Collection Section Start -->
   <section>
    <div class="container">
      <div class="row" style="margin-top: 70px;">
        <div class="col-12 col-lg-5">
          <div class="overflow">
            <img src="https://bestwebcreator.com/shopwise/demo/assets/images/furniture_banner1.jpg" alt="ERROR">
            <div class="new-collection">
              <p>Super Sale</p>
              <h3>New Collection</h3>
              <a href="#">Shop Now</a>  
            </div>
          </div>
        </div>
        <div class="col-12 mt-5 col-lg-7 mt-lg-0">
          <div class="overflow">
            <img src="https://bestwebcreator.com/shopwise/demo/assets/images/furniture_banner2.jpg" alt="ERROR">
            <div class="new-collection new-collection2">
              <h3>New Season</h3>
              <p>Sale 40% Off</p>
              <a href="#">Shop Now</a>  
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>
  <!-- New Collection Section End -->
  <!-- Product Carousel Section Start -->
   <section>
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-12">
            <h3 class="text-center Product-Carousel-title">Trending items</h3>
          </div>
        </div>
        <div class="col-12">
          <div class="owl-carousel owl-theme owl-carousel-1">
            {% for product in exclusive_products %}
              <div class="item">
                <div class="card" style="width: 18rem;height: 445px;">
                  <div class="product-btn-txt-all">
                    <div class="card-img">
                      <img src="{{ product.product_images.first.image.url }}" alt="ERROR"></div>
                    <div class="img-btn">
                      <a href="#"><i class="lnr lnr-cart"></i></a>
                      <a href="#"><i class="lnr lnr-heart"></i></a>
                      <a href="#"><i class="lnr lnr-bookmark"></i></a>
                    </div>
                  </div>
                  <div class="card-body text-center">
                    <a href="{% url "product_detail" pk=product.id %}">{{product.product_name}}</a><br>
                    <div class="price">
                      <span>${{product.price}}</span>
                      <span>${{ product.price|add:"35" }}</span>
                    </div>
                    <div class="rating">
                      {% if product.reviews.exists %}
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= product.reviews.first.rating %}
                                <i class="fa-solid fa-star"></i>
                            {% else %}
                                <i class="lnr lnr-star"></i>
                            {% endif %}
                        {% endfor %}
                      {% else %}
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                          <i class="lnr lnr-star"></i>
                      {% endif %}
                      <p>({{ product.reviews.count }})</p>
                    </div>
                    <div class="card-btn">
                      <form id="cartForm{{ product.id }}" method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        {% for product_variants in product.product_variants.all %}
                          <input type="hidden" name="variant_id" value="{{ product.product_variants.first.id }}">
                          <input type="number" style="display: none;" name="quantity" value="1" min="1" max="{{ product_variants.stock }}" {% if product_variants.stock == 0 %}disabled{% endif %}>
                        {% endfor %}
                      </form>
                      <a onclick="document.getElementById('cartForm{{ product.id }}').submit(); return false;" {% if variant.stock == 0 %}disabled{% endif %}><i class="lnr lnr-cart"></i>Add To Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
   </section>
  <!-- Product Carousel Section End -->
  <!-- View Product Carousel Section Start -->
   <section>
     <div class="container-fluid">
      <div class="row">
        <div class="co-12 position-relative">
          <div class="owl-carousel owl-theme play-carousel">
            <div class="img-hover-color">
              <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/furniture_insta1.jpg" alt="ERROR"></div>
            </div>
            <div class="img-hover-color">
              <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/furniture_insta2.jpg" alt="ERROR"></div>
            </div>
            <div class="img-hover-color">
              <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/furniture_insta3.jpg" alt="ERROR"></div>
            </div>
            <div class="img-hover-color">
              <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/furniture_insta4.jpg" alt="ERROR"></div>
            </div>
            <div class="img-hover-color">
              <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/furniture_insta5.jpg" alt="ERROR"></div>
            </div>
            <div class="img-hover-color">
              <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/furniture_insta6.jpg" alt="ERROR"></div>
            </div>
          </div>
          <div class="instagram-btn">
              <div class="instagram-btn-txt">
                <h2>instagram</h2>
                <p>@shoppingzone</p>
              </div>
          </div>
        </div>
      </div>
     </div>
   </section>
  <!-- View Product Carousel Section End -->
  <!-- Logo Carousel Section Start -->
   <section style="margin-top: 100px;">
     <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="owl-carousel owl-theme logo-carousel">
            <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/cl_logo1.png" alt=""></div>
            <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/cl_logo2.png" alt=""></div>
            <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/cl_logo3.png" alt=""></div>
            <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/cl_logo4.png" alt=""></div>
            <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/cl_logo5.png" alt=""></div>
            <div class="item"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/cl_logo6.png" alt=""></div>
        </div>
        </div>
      </div>
     </div>
   </section>
  <!-- Logo Carousel Section End -->
  <!-- Footer Section Start -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-xxl-3">
          <h6 class="Footer-h6">Contact info</h6>
          <div class="row">
            <div class="col-1">
              <i class="lnr lnr-map-marker"></i><br>
              <i class="lnr lnr-envelope"></i><br>
              <i class="lnr lnr-phone-handset"></i><br>
            </div>
            <div class="col-11">
              <p> 123 Street, Old Trafford, NewYork, USA</p>
              <a href="#">info@sitename.com</a>
              <p> + 457 789 789 65</p>
            </div>
          </div>
          <nav class="Footer-social">
            <ul>
              <li><a href="{% url "pagenotfound" %}"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="{% url "pagenotfound" %}"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="{% url "pagenotfound" %}"><i class="fa-brands fa-google-plus-g"></i></a></li>
              <li><a href="{% url "pagenotfound" %}"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="{% url "pagenotfound" %}"><i class="fa-brands fa-wordpress"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="col-6 col-md-4 col-xxl-3">
          <h6 class="Footer-h6">Useful Links</h6>
          <ul class="Footer-txt-item">
            <li><a href="{% url "pagenotfound" %}">About Us</a></li>
            <li><a href="{% url "pagenotfound" %}">FAQ</a></li>
            <li><a href="{% url "pagenotfound" %}">Location</a></li>
            <li><a href="{% url "pagenotfound" %}">Affiliates</a></li>
            <li><a href="{% url "pagenotfound" %}">Contact</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-4 col-xxl-3">
          <h6 class="Footer-h6">My Account</h6>
          <ul class="Footer-txt-item">
            <li><a href="{% url "profile" %}">My Account</a></li>
            <li><a href="{% url "pagenotfound" %}">Discount</a></li>
            <li><a href="{% url "pagenotfound" %}">Returns</a></li>
            <li><a href="{% url "orderdetail" %}">Orders History</a></li>
            <li><a href="{% url "orderdetail" %}">Order Tracking</a></li>
          </ul>
        </div>
        <div class="col-12 mb-5 col-md-4 col-xxl-3">
          <h6 class="Footer-h6">Newsletter</h6>
          <p>If you want to get an email from us every time we have a new special offer, then sign up here!</p>
          <div class="Footer-input">
            <input type="text" placeholder="Enter your email">
            <button type="submit"><i class="lnr lnr-checkmark-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- Copyright Footer Start -->
  <div class="Copyright">
    <div class="Copyright-txt">
      <p>Copyright © 2024. All rights reserved. Template by <a href="https://facebook.com/iamdeveloperrayhan" target="_blank">Developer Rayhan</a>.</p>
    </div>
    <div class="Copyright-img">
      <div class="Footer-img">
        <a href="{% url "pagenotfound" %}"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/visa.png" alt="ERROR"></a>
        <a href="{% url "pagenotfound" %}"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/discover.png" alt="ERROR"></a>
        <a href="{% url "pagenotfound" %}"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/master_card.png" alt="ERROR"></a>
        <a href="{% url "pagenotfound" %}"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/paypal.png" alt="ERROR"></a>
        <a href="{% url "pagenotfound" %}"><img src="https://bestwebcreator.com/shopwise/demo/assets/images/amarican_express.png" alt="ERROR"></a>
      </div>
    </div>
  </div>
  <!-- Copyright Footer Start -->
  <!-- Footer Section End -->
  <!-- Poppup Start -->
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row popup">
              <div class="col-12 col-lg-6 ps-lg-0">
                <img src="https://bestwebcreator.com/shopwise/demo/assets/images/popup_img.jpg" alt="ERROR">
              </div>
              <div class="col-12 col-lg-6 ps-lg-0">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-txt">
                  <h3>Subscribe and Get 25% Discount!</h3>
                  <p>Subscribe to the newsletter to receive <br> updates about new products.</p>
                  <form id="showModalID">
                    <input style="width: 100%;" type="text" class="text" placeholder="Enter your email"><br>
                    <button style="width: 100%;" type="submit" class="btn">SUBSCRIBE</button>
                    <div class="checkbox">
                      <input type="checkbox" id="exampleCheck1">
                      <label class="form-check-label user-select-none" for="exampleCheck1">Don't show this popup again!</label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Poppup End -->

  <!-- Boortstrap JS Start -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <!-- Boortstrap JS End -->

  <!-- jQuery JS Link Start -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- jQuery JS Link End -->

  <!-- App JS Start -->
  <script src="{% static "javascript/app.js" %}"></script>
  <!-- App JS End -->
  
  <!-- Linearicons icon js link Start -->
  <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
  <!-- Linearicons icon js link End -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    function searchToggle(obj, evt){
    var container = $(obj).closest('.search-wrapper');
      if(!container.hasClass('active')){
          container.addClass('active');
          evt.preventDefault();
      }
      else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
          container.removeClass('active');
          // clear input
          container.find('.search-input').val('');
      }
    }
  </script>
</body>

</html>