.page-404{
    text-align: center;
}
.page-404 h1{
    text-align: center;
    font-size: 160px;
    color: var(--404-color);
    font-weight: 800;
}
.page-404 h3{
    font-size: 22px;
}
.page-404 p{
    font-size: 18px;
    color: var(--About-Carousel-txt);
}
#Search-404{
    position: relative;
}
.search-i-404{
    position: absolute;
    top: 11px;
    right: 80px;
    border: none;
    background-color: var(--tran);
}
.search-i-404 i{
    font-size: 22px;
    font-weight: 600;
}
.Back-404{
    display: inline-block;
    width: 39% !important;
    text-align: center;
    text-decoration: none;
    padding: 7px 0px;
}